@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --nunito: "Nunito Sans", sans-serif;
    --ibm-plex: "IBM Plex Sans", sans-serif;
    --text: #efeff1;
    --background: #1a1424;
    --primary: #782DCD;
    --secondary: #3D3D6F;
    --accent: #4D148A;
}


html {
    font-size: 62.5%;
}

body {
    background: radial-gradient(73.44% 73.44% at 50% 9.57%, #400876 0%, rgb(26, 20, 35) 100%);
    background-attachment: fixed;
    color: var(--text);
    font-family: var(--nunito);
    font-size: 1.6rem;
}

.site {
    /* max-width: 1247px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: 0 auto; */
}

.content-grid, 
.full-width {
    display: grid;
    grid-template-columns: 
        [full-width-start] 100px [breakout-start] minmax(0, 1fr) [content-start] minmax(0, 1247px) [content-end] 100px [breakout-end] minmax(0, 1fr) [full-width-end];
}

.content-grid > *,
.full-width > *{
    grid-column: content;
}

.content-grid > .full-width {
    grid-column: full-width;
}

.header {
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 32px 0;
    margin-bottom: 32px;
    color: var(--text);
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.header::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    
    background-color: color-mix(in srgb, #15001f, transparent 50%);
    mask: linear-gradient(to top, transparent, black 56%);
    backdrop-filter: blur(16px);
}

.menu {
    display: flex;
    gap: 32px;
}

.main-link {
    font-weight: 700;
}

.menu a {
    position: relative;
    transition: ease-in-out .5s;
}

.menu-center a {
    padding: 16px;
}

.menu a:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: #8d22ff;
    /* left: 0; */
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 4px;
    margin: auto;
    transition: ease-in-out .5s;
    border-radius: 4px;
}

.menu a:hover {
    color: #d8bcf5;
    transition: ease-in-out .3s;
}

.menu a:hover:after {
    width: 90%;
    transition: ease-in-out .3s;
}


main {
    /* min-height: 100dvh; */
    min-height: calc(100dvh - 112px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
}

.hero p {
    font-family: var(--ibm-plex);
    font-size: 2.2rem;
    line-height: 2.9rem;
}

.hero--texts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 751px;
}

.hero--links {
    display: flex;
    gap: 32px;
}

.hero--links a {
    font-family: var(--ibm-plex);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.1rem;
    background-color: #4d148a;
    padding: 8px 16px;
    border-radius: 32px;
    transition: ease-in-out 1s;
}

.hero--links a:hover {
    background-color: #782dcd;
    transition: ease-in-out 0.3s;
    box-shadow: 0 0 50px -5px var(--accent);
}

.hero--links a, i {
    color: #f2e5ff;
}

.hero--links i {
    margin-left: 8px;
}

.img-placeholder {
    width: 368px;
    height: 368px;
    border-radius: 100%;
    background-color: #400876;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 64px;
    margin-bottom: 64px;
}

.section-card {
    border-radius: 16px;
    border: 1px solid #3A3B41;
    background-color: color-mix(in srgb, #262629, transparent 50%);
    backdrop-filter: blur(2px);
}

/* .about h2 {
    font-family: var(--nunito);
    font-size: 3.2rem;
    font-weight: 700;
} */

.about p {
    font-family: var(--ibm-plex);
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
    margin-bottom: 88px;
}

/* .highlights h2 {
    font-size: 3.2rem;
    font-weight: 700;
} */

.skills, .hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.highlight--itens {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.highlight--boxes {
    width: 150px;
    height: 150px;
    background-color: #8927EF;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    transition: ease-in-out .5s;
    border: 2px solid transparent;
}

.highlight--boxes:hover {
    transform: translateY(-10px) scale(1.05);
    transition: ease-in-out .3s;
    background-color: color-mix(in srgb, #8927EF, black 10%);
    box-shadow: 0 0 0 #8927EF;
    border: 2px solid color-mix(in srgb, white, transparent 50%)
}

.box-content > span {
    font-weight: 700;
    line-height: 22px;
    user-select: none;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.box-content img{
    height: 2.8rem;
}

.formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px;
    gap: 32px;
    margin-bottom: 64px;
}

.h2-title {
    font-family: var(--nunito);
    font-size: 3.2rem;
    line-height: 40px;
    font-weight: 700;
}

.card-wrap {
    display: flex;
    gap: 16px;
}

.formacao-card {
    display: flex;
    flex-direction: column;
}

.h3-title {
    font-family: var(--nunito);
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: 700;
}

.formacao-card p {
    font-family: var(--ibm-plex);
    font-weight: 500;
    line-height: 2.2rem;
}

.white-box {
    width: 368px;
    height: 286px;
    margin-bottom: 8px;
    background-color: var(--text);
    border-radius: 8px;
}

.exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}

.thumb-placeholder {
    min-width: 752px;
    min-height: 408px;
    border-radius: 16px;
    background-color: violet;
}

.exp-card {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    gap: 56px;
    width: 100%;
}

.card2{
    flex-direction: row-reverse;
}

.exp-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
    align-items: center;
}

.center {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.exp-text-wrap p {
    font-family: var(--ibm-plex);
    margin-bottom: 8px;
    line-height: 21.6px;
}

.exp-text-wrap .h3-title {
    font-size: 3.2rem;
    line-height: 40px;
    color: #E7D9FF;
}

.btn-wrap {
    display: flex;
    gap: 16px;
}

.btn-wrap .btn {
    min-width: 136px;
    text-align: center;
    box-sizing: border-box;
}

.btn {
    font-family: var(--ibm-plex);
    font-weight: 500;
    line-height: 2.2rem;
    padding: 16px 24px;
    border-radius: 8px;
    transition: ease-in-out .5s;
}

.btn-primary {
    background-color: #8927EF;
    border: 1px solid #8927EF;
}

.btn-secondary {
    background-color: #1E142F;
    border: 1px solid #7D35D5;
    color: #C698FF;
}

.btn-primary:hover {
    /* background-color: #772dcc; */
    background-color: transparent;
    transition: ease-in-out 0.3s;
    /* box-shadow: 0 0 50px -5px #8e25ff; */
}

.btn-secondary:hover {
    background-color: #8927EF;
    color: var(--text);
    /* background-color: #7D35D5; */
    /* color: var(--text); */
}

.contato {
    display: flex;
    justify-content: center;
    padding: 64px;
    gap: 16px;
    margin-bottom: 32px;
}

.contato-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.contato-wrap p {
    margin-bottom: 32px;
    line-height: 22px;
}

.contato-wrap > .h2-title {
    margin-bottom: 8px;
}

.contato-img {
    width: 464px;
    border-radius: 8px;
    background-color: var(--primary);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-box {
    background-color: #262629;
    border: 1px solid #47484F;
    border-radius: 8px;
    padding: 12px;
    min-height: 68px;
    box-sizing: border-box;
    position: relative;
}

.form-box.subject {
    display: flex;
    align-items: center;
}

.form__text {
    background-color: transparent;
    outline: none;
    border: none;
    display: block;
    line-height: 1.2em;
    width: 100%;
}

.alert {
    display: none;
    position: absolute;
    right: 12px;
    top: 25%;
    /* transform: translateY(-50%); */
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #7B242F;
    background: #201315;    
    opacity: .8;
}

.alert__text {
    font-family: var(--ibm-plex);
    font-weight: 500;
    line-height: 2.2rem;
    color: #FBD3CB;
}

.alert > i {
    color: #FBD3CB;
    font-size: 1.4rem;
    margin-right: 8px;
}


label{
    display: block;
    font-size: 12px;
    color: #B2B3BD;
    margin-bottom: 4px;
}

textarea {
    resize: none;
    outline: none;
}

input, 
textarea{
    font-family: var(--nunito);
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #B2B3BD;
}

.formulario > .btn-primary {
    color: var(--text);
    font-size: 16px;
    max-width: 180px;
    box-sizing: border-box;
    cursor: pointer;
}

.ativo {
    display: block;
}

.form-box.mensagem > span {
    top: auto;
    bottom: 12px;
    transform: translateY(0%);
}